.content {
    gap: 100px;
}

.ourstory {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 89px;
    align-items: start;
    height: 530px;
}

.ourstory>div {
    align-items: start;
    gap: 40px;
    color: var(--Main_Color);
    margin-top: 100px;
}

.ourstory div .title {
    font-size: 4rem;
}

.ourstory div span {
    font-weight: bold
}

.ourstory img {
    height: 76%;
}

.cards {
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 190px;
    border: 1px solid var(--Main_Color);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
    color: var(--Main_Color);
    transition: 0.3s;
    cursor: pointer;
}

.card div {
    background-color: var(--Main_Color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.card svg {
    fill: var(--White);
    transition: 0.3s;
}

.card:last-of-type svg {
    stroke: white;
}

.card span {
    font-size: 1.6rem;
    font-weight: bold;
}

.card:hover {
    background-color: var(--Red);
    color: var(--White);
}

.card:hover div {
    background-color: var(--White);
}

.card:hover svg {
    fill: var(--Main_Color)
}

.card:last-of-type:hover svg {
    stroke: var(--Main_Color)
}

.people {
    justify-content: space-between;
}

.person {
    width: 330px;
    gap: 20px;
}

.person>svg {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    fill: black;
    transform: translateX(-30px);
}

.person div .title {
    font-size: 2.6rem;
    color: var(--Main_Color);
}

.person div span {
    font-size: 1.3rem;
    color: var(--Main_Color);
}

.person div .social {
    gap: 20px;
}

.person div .social svg {
    width: 25px;
    height: 25px;
    fill: var(--Main_Color);
    cursor: pointer;
}

.property {
    justify-content: space-between;
}

.prop {
    width: 300px;
    text-align: center;
    gap: 30px;
}

.prop .svg {
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: var(--Main_Color);
    padding: 15px;
}

svg {
    width: 99%;
    height: 100%;
    fill: white;
}

.prop:nth-of-type(1) svg {
    width: 55px;
    height: 55px;
}

.prop span:nth-of-type(1) {
    font-size: 1.4rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.prop span:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--Main_Color);
}

button {
    width: 200px;
    align-self: center;
}

@media screen and (max-width:1900px) {
    .ourstory img {
        height: 60%;
    }

    .ourstory>div {
        margin-top: 20px;
    }
}

@media screen and (max-width:768px) {

    .ourstory {
        gap: 89px;
        height: 500px;
        grid-template-columns: 1fr 1fr;
    }

    .ourstory>div {
        gap: 20px;
        margin: auto 0;
    }

    .ourstory div .title {
        font-size: var(--F-title);
    }

    .ourstory div span {
        font-size: var(--F-smallB);
    }

    .ourstory img {
        height: 100%;
        width: 100%;
    }

    .card {
        width: 154px;
        height: 150px;
        padding: 20px;
    }

    .card div {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .card span {
        font-size: var(--F-text);
    }

    .card p {
        font-size: var(--F-textS);
    }



    .people {
        justify-content: space-between;
    }

    .person {
        width: 206px;
        gap: 20px;
    }

    .person>svg {
        width: 100%;
        height: 206px;
        border-radius: 10px;
    }

    .person div .title {
        font-size: var(--F-titleS);
    }

    .person div span {
        font-size: var(--F-textS);
    }

    .person div .social {
        gap: 10px;
    }

    .person div .social svg {
        width: 22px;
        height: 22px;
    }

    .prop {
        width: 206px;
        gap: 20px;
    }

    .prop .svg {
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    .prop:nth-of-type(1) svg {
        width: 45px;
        height: 45px;
    }

    .prop span:nth-of-type(1) {
        font-size: var(--F-text);
    }

    .prop span:nth-of-type(2) {
        font-size: var(--F-textS);
    }

    button {
        width: 150px;
    }


}