.content {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    gap: 40px;
    min-height: 500px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    gap: 10px;
    user-select: none;
}

.sidenav div {
    font-size: 1.2rem;
    color: var(--Main_Color);
    margin-top: 5px;
}

.sidenav div:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 500;
}

.sidenav span {
    color: var(--Grey);
    margin-left: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav span.active {
    color: var(--Red);
    font-weight: bold;
}

.sidenav span:hover,
.sidenav div:nth-last-of-type(2):hover,
.sidenav div:last-of-type:hover {
    color: var(--Red);
}

.sidenav div:nth-last-of-type(2),
.sidenav div:last-of-type {
    cursor: pointer;
}

form {
    border-radius: 10px;
    box-shadow: -20px 20px 20px var(--Grey);
    gap: 30px;
    padding: 30px;
    display: none;
}

form.active {
    display: flex;
}

form .title {
    font-size: 1.5rem;
    color: var(--Red);
    font-weight: bold;
}

form>div {
    justify-content: space-between;
}

.smallinput {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 50px;
}

label {
    font-size: 1.2rem;
    color: var(--Main_Color);
    font-weight: bold;
}

input[type="submit"] {
    align-self: end;
}

.buttons {
    justify-content: end;
    gap: 30px;
}

.holder {
    display: grid;
    grid-template: max-content / 1fr;
    gap: 20px;
    transition: 0.3s;
}

.holder>div {
    background-color: var(--Good-gray);
    border-radius: 10px;
    display: grid;
    grid-template: 30px 1fr/ 1fr;
    padding: 10px;
    position: relative;
    overflow: hidden;
    height: 50px;
    transition: 0.3s;
    gap: 5px;
}

.holder .top {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
}

.holder>div.active .top {
    border-bottom: 1px solid var(--Grey);
}

.holder .top svg {
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.holder .top svg:hover {
    fill: var(--Red);
}

.holder .body {
    display: grid;
    grid-template: max-content / max-content 1fr;
    margin-bottom: 40px;
    gap: 30px;
}

.orderholder .body,
.recieveholder .body,
.cancelholder .body,
.returnholder .body {
    grid-template: 60px / 1fr;
}

.holder .body>* {
    font-size: 1.2rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.orderholder .body>*,
.recieveholder .body>*,
.cancelholder .body>*,
.returnholder .body>* {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template: 60px / 60px 239px 50px 105px 80px 105px;
}

.orderholder .body .head span,
.recieveholder .body .head span,
.cancelholder .body .head span,
.returnholder .body .head span {
    color: var(--Main_Color);
    opacity: 1;
}

.orderholder .item img,
.recieveholder .item img,
.cancelholder .item img,
.returnholder .item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.orderholder .item span:nth-of-type(1),
.recieveholder .item span:nth-of-type(1),
.cancelholder .item span:nth-of-type(1),
.returnholder .item span:nth-of-type(1) {
    text-overflow: ellipsis;
    /* height: 100%; */
    overflow: hidden;
}

.orderholder .item span:nth-of-type(2),
.recieveholder .item span:nth-of-type(2),
.cancelholder .item span:nth-of-type(2),
.returnholder .item span:nth-of-type(2) {
    width: 20px;
    aspect-ratio: 1/1;
    border: 3px solid var(--Main_Color);
    border-radius: 50%;
    opacity: 1;
}

.orderholder .item span:nth-of-type(4),
.recieveholder .item span:nth-of-type(4),
.cancelholder .item span:nth-of-type(4),
.returnholder .item span:nth-of-type(4) {
    justify-self: center;

}

.orderholder .totalprice span,
.recieveholder .totalprice span,
.cancelholder .totalprice span,
.returnholder .totalprice span {
    grid-area: 1/6;
}

.orderholder .reason,
.recieveholder .reason,
.cancelholder .reason,
.returnholder .reason {
    padding-top: 20px;
    border-top: 2px solid rgb(0, 0, 0, 0.6);
    display: grid;
    grid-template: max-content / max-content 1fr;
    align-items: start;
    gap: 20px;
}

.orderholder .reason span:first-of-type,
.recieveholder .reason span:first-of-type,
.cancelholder .reason span:first-of-type,
.returnholder .reason span:first-of-type {
    opacity: 1;
}

.holder>div .body span {
    opacity: 0.6;
}

.holder>div .expand {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.holder>div.active .expand {
    transform: rotate(180deg) translate(10px);
}

.holder>div .expand:hover {
    opacity: 0.5;
}