.content {
    gap: 70px;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.table .title {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    background-color: var(--Good-gray);
    padding: 15px;
    padding-left: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.table .title span {
    font-size: 1rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.table .item {
    display: grid;
    grid-template: 40px / 2fr repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    background-color: var(--Good-gray);
    border-radius: 10px;
}

.table .item .pic img {
    height: 55px;
    width: 55px;
    border-radius: 10px;
}

.table .item .pic {
    justify-content: start;
    gap: 10px;
    position: relative;
}

.table .item .pic .close {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--Red);
    top: -7px;
    left: -6px;
    font-family: cursive;
    color: var(--White);
    cursor: pointer;
    font-size: 1rem;
}

.table .item .pic span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--Main_Color)
}

.table .item>div {
    font-size: 1.5rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.table .item .quantity {
    border: var(--Main_Color) 1px solid;
    width: 63px;
    padding: 15px;
    border-radius: 10px;
    gap: 8px;
}

.change {
    gap: 10px;
}


.change div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--Grey);
    color: var(--Good-gray);
    font-size: 0.9rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    user-select: none;
}

.change div:first-of-type {
    padding-bottom: 3px;
}

.buttons {
    justify-content: space-between;
}

.buttons button {
    border: 1px solid var(--Main_Color);
    background-color: var(--White);
    color: var(--Main_Color);
    font-size: 0.8rem;
}

.color {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
}

.bill {
    width: 460px;
    background-color: var(--Good-gray);
    border-radius: 10px;
    border: var(--Grey) 1px solid;
    padding: 30px;
    gap: 20px;
    align-self: center
}

.bill .title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.bill>div:not(:first-of-type) {
    justify-content: space-between;
    border-bottom: 1px solid var(--Main_Color);
    opacity: 0.5;
}

.bill div * {
    font-size: 1.2rem;
    color: var(--Main_Color);
    padding-bottom: 15px;
}

.bill>div:last-of-type {
    border: none;
}

.bill button {
    width: 250px;
    align-self: center;
}

@media screen and (max-width:1900px) {}