.content {
    grid-template: max-content 45px / 1fr;
}

.contacts {
    padding: 20px;
    background-color: var(--Good-gray);
    border-radius: 10px;
    gap: 20px;
}

.contact {
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid var(--Main_Color);
}

.contact:hover {
    border: 2px dotted var(--Main_Color);
    transform: scale(1.04);
}

.contact a {
    font-size: 1.3rem;
    color: var(--Main_Color);
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
}

.contact a:hover {
    border: 1px solid var(--Main_Color);
    border-radius: 10px;
}

.contact div {
    opacity: 0.6;
}