.content {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    gap: 40px;
    min-height: 500px;
}

.content>* {
    border-radius: 10px;
    box-shadow: -20px 20px 20px var(--Grey);
}

.content>div {
    padding: 40px;
    gap: 40px;
}

.content>div div {
    gap: 20px;
    justify-content: start;
}

.content>div .svg {
    padding: 10px;
    background-color: var(--Red);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.content svg {
    fill: var(--White);
    width: 30px;
    height: 30px;
}

.content>div span {
    font-size: 1.6rem;
    color: var(--Main_Color);
    font-weight: bold;
}

.content>div>div>div:not(:nth-of-type(1)) span {
    font-size: 1.2rem;
    color: var(--Grey);
    margin-bottom: 10px;
    opacity: 0.7;
}

.contacttous {
    border-bottom: 2px solid #6e7d885e;
    padding-bottom: 30px;
}

form {
    gap: 30px;
    padding: 30px;
}

.smallinput {
    gap: 10px;
}

form div {
    justify-content: space-between;
}

input[type="submit"] {
    align-self: end;
}